<div class="row">
    <h1>第<%= @yao.serial %>爻  <%= @yao.name %></h1>
</div>

<div class="well">
    <h3>爻辭</h3>
    <p><%= @yao.ytext %></p>
    <hr>
    <h3>解釋</h3>
    <p><%= @yao.explain %></p>
</div>