<div class="container">
    <div class="panel">
        <div class="col-md-6 col-md-offset-3">
        <br>
        <br>
        <p>易經和創業對我的成長帶來極大益處，因此我結合自己的創業經驗和對易經的理解，製作這個網站，希望能對需要的人帶來一點幫助。</p>
        <p>創業在每個階段都會有不同的挑戰，許多時候關卡不在於技術性或是錢的問題，而是情緒管理。</p>
        <p>易經的好處之一是讓人可以視一切變化為常態，情緒不易隨外界變化而有劇烈起伏，從而做出更冷靜的判斷和決策，也讓自己有更平衡的身心狀態。</p>
        <p>本網站中對易經的通用解釋內容，是吳佩蓉老師的著作，對創業的解釋內容是我自行撰寫。</p>
        <p>歡迎自由轉載供其他人免費瀏覽，並請註明來源為本網站。謝謝您的支持！</p>
        <p class="pull-right">- Vincent Li</p>
        </div>
        <br>
        <br>
    </div>
</div>