<div class="container">
    <div class="row text-center">
        <h1>創業中的你想聽點意見嗎？</h1>
        <br>
        <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-lg gold" id="reload">Step 1. 默想問題後點我</button>
        
        </div>
        <div class="col-md-12">
        <button type="button" class="btn btn-primary btn-lg gold" id="tell">Step 2. 觀看結果</button>
        </div>
        <br>
        
    </div>
    <br>
    <div id="tellgua" >
        <div class="well" id="guacontent">
        <h1>卜卦結果</h1>
        
        <% if @pluckgua %>
            <% if @pluckgua.image? %>
                <div class="thumbnail">
                    <%= image_tag(@pluckgua.image.url, class: "img-responsive") %>
                </div>
            <% end %>
            <h3>卦/爻辭：</h3>
            <p><%= link_to @pluckgua.name+'：'+@pluckgua_gtext, gua_path(@pluckgua)  %></p>
            <% if @pluckgua_explain2 %>
            <div>
            <h2 class="btn btn-info" data-toggle="tooltip" data-placement="top" title="&copy; Vincent Li">創業解釋</h2>
            <p><%= @pluckgua_explain2 %></p>
            </div>
            <% end %>
            <% if @pluckgua_explain %>
            <div>
                <h2 class="btn btn-info" data-toggle="tooltip" data-placement="top" title="&copy; 吳佩蓉">通用解釋</h2>
                <p><%= @pluckgua_explain %></p>
            </div>
            <% end %>
        <% end %>
        </div>
    </div>
</div>

<script>
$(document).ready(function(){
   
    $("button#tell").click(function(){
        
        /*$("#tellgua").show();*/
     
        $("#tellgua").slideDown();
        /*$(window).scrollTop($(window).scrollTop()-10);*/
        $('html, body').animate({
            scrollTop: $("#tellgua").offset().top
        }, 800);
    });
    
    $("button#reload").click(function(){
       location.reload(); 
    });
});
</script>
