@import "bootstrap-sprockets";
@import "bootstrap";

html, body{
    margin: 0px;
    left: 0;
    right: 0;
    font-size: 16px;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

p {
    line-height:2em;
}

.jumbotron {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left:0px;
    margin-right:0px;
    margin-top:0px;
    margin-bottom:0px;
    height: 200px;
    width:100%;
    left: 0;
    right: 0;
    background: url('https://s3-ap-northeast-1.amazonaws.com/udemyherokuapp/uploads/yijing/prague-astronomical-clock-banner.jpg') no-repeat;
    
    
    .logo {
        background-color:rgba(0, 0, 0, 0.6);
        text-align: center;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.5em;
        width: 100%;
        a {
            color: #D4AF37 ;
            text-decoration: none;
        }
    }
} 


.layer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0px;
}

.container-fluid{
    width:100%;
}

.navbar{
    border-radius: 0;
    padding-top:4px;
    height:100%;
    a {
        color: #D4AF37;
    }
}

footer {
    margin-top: 30px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #404040;
    color: white;
}

#tellgua{
    display: none;
}


.glyphicon.glyphicon-minus.fa-2x{
    font-size:22px;
}

.btn{
    margin-bottom:10px;
}

.warn{
    color:orange;
}

.gold{
    background-color: #D4AF37;
    border: none;
    width: 300px;
    height: 100px;
}

button.gold:hover{
    background-color: #996515;
}

button.gold:focus{
    background-color: #996515;
}

#login_div{
    a{
    color: #404040;
    }
}

/** Carousal begin**/

/* Carousel */
#myCarousel {
	margin-bottom:20px;
	margin-left: 15%;
	margin-right: 15%;
}

#myCarousel .carousel-caption{
	left:0;
	right:0;
	bottom:0;
	text-align: left;
	padding: 10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .carousel-caption h4{
	color:#fff;
}

#myCarousel .carousel-caption p{
	padding:0;
	margin:0;
}

#myCarousel .list-group{
	position:absolute;
	top:0;
	right:0;
}

#myCarousel .list-group-item{
	border-radius:0;
	cursor:pointer;
}

#myCarousel .list-group .active{
	background:#eee;
	border:0;
	color:#666;
}

#myCarousel .list-group h4{
	font-size:17px;
	padding:0 !important;
	margin:0 !important;
	padding-top:5px;
}

#myCarousel .img-slide{
	width:80px;
	height:100%;
	float:left;
	margin-right:5px;
}

/**Carousal end**/

/* media */
@media(max-width:500px){
 .jumbotron {
     height:100px;
     .logo{
         margin-top:20px;
     }
 }   
}



@media(max-width:991px){
	.carousel-indicators{
		display: none;
	}
	
	#myCarousel {
	margin-bottom:20px;
	margin-left: 2%;
	margin-right: 2%;
}
}

