@import "bootstrap-sprockets";
@import "bootstrap";
$gold-color: #D4AF37;
$deep-gray: #1b222a;

html, body{
    margin: 0px;
    left: 0;
    right: 0;
    font-size: 16px;
    overflow-x: hidden;
}

a:link {
    text-decoration: none;
}

p {
    line-height:2em;
}



.jumbotron {
    background: url('https://s3-ap-northeast-1.amazonaws.com/udemyherokuapp/uploads/yijing/mountain-1031465_1920.jpg') no-repeat top center fixed;
	color: #fff;
	height:600px;
    margin-bottom: 0;
    border: none;
    
    .logo {
        background-color:rgba(0, 0, 0, 0.6);
        text-align: center;
        margin-top: 70px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 1.5em;
        width: 100%;
        a {
            color: #D4AF37 ;
            text-decoration: none;
        }
    }
} 



.navbar{
    border-radius: 0;
    padding-top:4px;
    margin-bottom: 0;
    height:100%;
    background: #1b222a;
    border: none;

    a {
        color: white;
    }
    
    a:hover{
        color: $gold-color !important;
    }
    
    .em-text{
        color: $gold-color;
    }
    
}

.navbar-nav a {
    color: white !important;
}

footer {
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #404040;
    color: white;
    border: none;
}

#tellgua{
    display: none;
    margin-bottom: 0;
}


.glyphicon.glyphicon-minus.fa-2x{
    font-size:22px;
}

.btn{
    margin-bottom:10px;
}

.warn{
    color:orange;
}

.gold{
    background-color: #D4AF37;
    border: none;
    width: 300px;
    height: 100px;
    line-height: 80px;
}

button.gold:hover, a.gold:hover{
    background-color: #996515;
}

button.gold:focus, a.gold:focus{
    background: #996515;
    outline: 0;
}

button.gold:active{
    background: #996515 !important;
    border: #996515 !important;
    outline: 0 !important;
}

#login_div{
    a{
    color: #404040;
    }
}

a.small {
        color: #9E7902 !important;
}

/** Carousal begin**/

#carousel {
    margin-top:0px;
}

#myCarousel {
	margin-bottom:20px;
	margin-left: 15%;
	margin-right: 15%;
}

#myCarousel .carousel-caption{
	left:0;
	right:0;
	bottom:0;
	text-align: left;
	padding: 10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .carousel-caption h4{
	color:#fff;
	a{
	    color: #D4AF37;
	}
}

#myCarousel .carousel-caption p{
	padding:0;
	margin:0;
}

#myCarousel .list-group{
	position:absolute;
	top:0;
	right:0;
}

#myCarousel .list-group-item{
	border-radius:0;
	cursor:pointer;
}

#myCarousel .list-group .active{
	background:#eee;
	border:0;
	color:#666;
}

#myCarousel .list-group h4{
	font-size:17px;
	padding:0 !important;
	margin:0 !important;
	padding-top:5px;
}

#myCarousel .img-slide{
	width:80px;
	height:100%;
	float:left;
	margin-right:5px;
}

/**Carousal end**/

/* media */
@media(max-width:500px){
 .jumbotron {
     height:500px;
     .logo{
         margin-top:20px;
     }
 }
 
 .table-title {
     display: none;
 }
 
 .carousel-caption p {
     font-size: 13px;
     line-height: 15px;
 }
 
 .carousel.slide{
     width: 100%;
 }
 
 div#carousel{
     width: 100%;
     margin:0;
     padding:0;
 }
}



@media(max-width:991px){
	.carousel-indicators{
		display: none;
	}
	
	#myCarousel {
	margin-bottom:20px;
	margin-left: 2%;
	margin-right: 2%;
 }

     .table-title {
     display: none;
 }
}

