<footer>
    <div class="container">
    Vincent Li &copy; 2015  <%= link_to '關於', pages_about_path %>
    <br>
    <a href="https://tw.linkedin.com/in/vincent-w-li-93981710"><i class="fa fa-linkedin"></i></a>&nbsp;
    <a href="https://twitter.com/vincentli9"><i class="fa fa-twitter"></i></a>&nbsp;
    <a href="https://www.facebook.com/weihsieh.li"><i class="fa fa-facebook"></i></a>
    </div>
    
 <div class="pull-right" id="login_div">
    <% if user_signed_in? %>
      <div>
        Admin model
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Logout?" } %>
      </div>
      <% else %>
      <%= link_to "Login", new_user_session_path  %>
    <% end %>
    
    
</footer>