<footer>
    <div class="container">
    Vincent &copy; 2015  易經註解&copy;吳佩蓉
    </div>
    
 <div class="pull-right" id="login_div">
    <% if user_signed_in? %>
      <div>
        Admin model
        <%= link_to "Logout", destroy_user_session_path, method: :delete, data: { confirm: "Logout?" } %>
      </div>
      <% else %>
      <%= link_to "Login", new_user_session_path  %>
    <% end %>
    
    
</footer>