<nav class="navbar navbar-inverse">
   <div class="container-fluid">
        <ul class="nav nav-pills nav-justified">
          <li><%= link_to '卜卦', root_path %></li>
          <li><%= link_to '用易經看創業', guas_guaorder_path %></li>
          <li><%= link_to '瀏覽易經', guas_path %></li>
        </ul>
    </div>
</nav>