<nav class="navbar navbar-default">
   <div class="container">
        <div class="navbar-header">
          <!--remove hamburger menu
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          -->
          <%= link_to '創業與易經', root_path, class: "navbar-brand em-text" %>
        </div>
        <div id="navbar"><!--remove class "collapse navbar-collapse" from div#navbar-->
          <ul class="nav navbar-nav">
          
            <li><%= link_to '瀏覽易經', guas_path %></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
   
</nav>